body{
  background: url("../image/zhuce.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;                
  background-size: cover;
}

h1{
    text-align: center;
}
div {
  background: url(../image/degnlu.jpg);
    font-size: 25px;
    margin: 150px auto;
    width: 20%;
    border-radius: 50px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  input[type=text],input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
  }
  input[type=button],input[type=reset]{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(24, 25, 26);
    border-radius: 40px;
  }


